<h2>Добавить продукцию</h2>
<form method="post">
  <label for="name">Название продукции:</label><br>
  <input type="text" name="name" required><br><br>
  <button type="submit">Добавить</button>
</form>
<br>
<a href="/products">Назад к списку</a>

<!-- <h2>Добавить продукцию</h2>
<form method="post">
  <label>Название:</label><br>
  <input type="text" name="name" required><br><br>

  <label>Описание:</label><br>
  <textarea name="description"></textarea><br><br>

  <label>Категория:</label><br>
  <input type="text" name="category"><br><br>

  <label>Ширина:</label><br>
  <input type="number" step="any" name="width"><br><br>

  <label>Высота:</label><br>
  <input type="number" step="any" name="height"><br><br>

  <button type="submit">Добавить</button>
</form>
<br>
<a href="/products">Назад</a> -->