<h2>Редактировать продукцию</h2>
<form method="post">
  <label>Новое название:</label><br>
  <input type="text" name="name" value="{{ product['Name'] }}" required><br><br>
  <button type="submit">Сохранить</button>
</form>
<br>
<a href="/products">Назад</a>


<!-- <h2>Редактировать продукцию</h2>
<form method="post">
  <label>Название:</label><br>
  <input type="text" name="name" value="{{ product['Name'] }}" required><br><br>

  <label>Описание:</label><br>
  <textarea name="description">{{ product['Description'] }}</textarea><br><br>

  <label>Категория:</label><br>
  <input type="text" name="category" value="{{ product['Category'] }}"><br><br>

  <label>Ширина:</label><br>
  <input type="number" step="any" name="width" value="{{ product['Width'] }}"><br><br>

  <label>Высота:</label><br>
  <input type="number" step="any" name="height" value="{{ product['Height'] }}"><br><br>

  <button type="submit">Сохранить</button>
</form>
<br>
<a href="/products">Назад</a> -->

